body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
  background-color: hwb(192 26% 14%);
  background-image: url(https://img.freepik.com/vector-premium/hospital-edificio-vector-icono-ilustracion-concepto-icono-edificio-punto-referencia-blanco-aislado_138676-440.jpg?w=2000);
  background-size: 55rem;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  color: #020202;
  text-align: center;
}

h2 {
  text-align: center;
  color: #020202;
  margin-bottom: 10px;
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #0616f5;
}

th {
  background-color: #6cb3f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

input {
  border: 0;
}

img{
  width: 15px;
}

a, input[type="submit"] {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 12px;
  background-color: #e47c05;
  border: none;
  font-size: medium;
  border-radius: 4px;
}

a:hover, input[type="submit"]:hover {
  background-color: #f6e92d;
}

.volver, .editar{
  background-color: #1520f2;
}

.eliminar {
  background-color: #ff0000;
}

.volver,.editar:hover {
  background-color: #e47c05;
}

.eliminar:hover {
  background-color: #9a0000;
}

button {
  margin-top: 10px;
}

.opciones-tabla{
  display: flex;
  justify-content: center;
}

.opciones-tabla a{
  width: 150px;
    text-align: center;
    margin: 10px;
}